#### Introduction

1. Datalink: https://archive.ics.uci.edu/dataset/502/online+retail+ii
2. Info: This Online Retail II data set contains all the transactions occurring for a UK-based and registered, non-store online retail between 01/12/2009 and 09/12/2011.The company mainly sells unique all-occasion gift-ware. Many customers of the company are wholesalers.

The below code will help us for the data cleanup & generating Synthetic data for customer demographics and Null customer data.

In [1]:
## Import Libraries

import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_excel(r'online_retail_II.xlsx', sheet_name='Year 2009-2010')
df2 = pd.read_excel(r'online_retail_II.xlsx', sheet_name='Year 2010-2011')

df = df1.append(df2).reset_index(drop=True)
print("No of rows:", len(df))
df.head(2)

No of rows: 1067371

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom

In [3]:
df['Country'].dropna().astype(str).value_counts()

United Kingdom          981330
EIRE                     17866
Germany                  17624
France                   14330
Netherlands               5140
Spain                     3811
Switzerland               3189
Belgium                   3123
Portugal                  2620
Australia                 1913
Channel Islands           1664
Italy                     1534
Norway                    1455
Sweden                    1364
Cyprus                    1176
Finland                   1049
Austria                    938
Denmark                    817
Unspecified                756
Greece                     663
Japan                      582
Poland                     535
USA                        535
United Arab Emirates       500
Israel                     371
Hong Kong                  364
Singapore                  346
Malta                      299
Iceland                    253
Canada                     228
Lithuania                  189
RSA                        169
Bahrain                    126
Brazil                      94
Thailand                    76
Korea                       63
European Community          61
Lebanon                     58
West Indies                 54
Bermuda                     34
Nigeria                     32
Czech Republic              30
Saudi Arabia                10
Name: Country, dtype: int64

In [4]:
#### UK country
df = df[df['Country'] == 'United Kingdom'].reset_index(drop=True)

In [5]:
df.isnull().sum() / len(df) * 100

Invoice         0.000000
StockCode       0.000000
Description     0.446537
Quantity        0.000000
InvoiceDate     0.000000
Price           0.000000
Customer ID    24.459560
Country         0.000000
dtype: float64

In [6]:
### Instead of dropping customer ID, we are creating synthetic data

In [7]:
# Generate synthetic IDs for missing Customer IDs
missing_ids_count = df['Customer ID'].isnull().sum()
synthetic_ids = ['Synthetic_' + str(i) for i in range(1, missing_ids_count + 1)]

# Map each invoice with a missing Customer ID to a unique synthetic Customer ID
invoice_to_synthetic_id = {}
synthetic_id_idx = 0

for invoice_no in df.loc[df['Customer ID'].isnull(), 'Invoice'].unique():
    invoice_to_synthetic_id[invoice_no] = synthetic_ids[synthetic_id_idx]
    synthetic_id_idx += 1

# Assign the synthetic IDs
df['Customer ID'] = df.apply(
    lambda row: invoice_to_synthetic_id[row['Invoice']] if pd.isnull(row['Customer ID']) else row['Customer ID'],
    axis=1
)

# Convert Customer ID to string type
df['Customer ID'] = df['Customer ID'].astype(str)

df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [8]:
### Testing whether 1 Invoice will be having one Customer or not

Test = df.groupby(['Invoice'])['Customer ID'].nunique().reset_index()
Test[Test['Customer ID'] > 1]

Empty DataFrame
Columns: [Invoice, Customer ID]
Index: []

In [9]:
df.isnull().sum() / len(df) * 100

Invoice        0.000000
StockCode      0.000000
Description    0.446537
Quantity       0.000000
InvoiceDate    0.000000
Price          0.000000
Customer ID    0.000000
Country        0.000000
dtype: float64

In [10]:
#### drop null values
df = df.dropna().reset_index(drop=True)

In [11]:
# Counting duplicate rows
duplicate_rows_before = df[df.duplicated()]
print("no of duplicate_rows Before : ", len(duplicate_rows_before))

# Remove duplicate rows
df = df.drop_duplicates()
duplicate_rows_after = df[df.duplicated()]
print("no of duplicate_rows After: ", len(duplicate_rows_after))

# Ensure all Customer IDs are strings and remove the '.0' suffix if present
df['Customer ID'] = df['Customer ID'].astype(str).str.replace(r'\.0$', '', regex=True)

no of duplicate_rows Before :  32902
no of duplicate_rows After:  0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 944046 entries, 0 to 976947
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      944046 non-null  object
 1   StockCode    944046 non-null  object
 2   Description  944046 non-null  object
 3   Quantity     944046 non-null  int64
 4   InvoiceDate  944046 non-null  datetime64[ns]
 5   Price        944046 non-null  float64
 6   Customer ID  944046 non-null  object
 7   Country      944046 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 64.8+ MB

In [13]:
#### Make sure there are no negative values for the Price and Quantity

df['Price'] = df['Price'].abs()
df['Quantity'] = df['Quantity'].abs()

In [14]:
#### As the Price can't be zero for any invoice / order we are excluding them as of limited data

print("No of orders with price 0 Before: ",len(df[df['Price'].abs() == 0]))

df = df[df['Price'].abs() != 0].reset_index(drop=True)

print("No of orders with price 0 After: ",len(df[df['Price'].abs() == 0]))

No of orders with price 0 Before:  1712
No of orders with price 0 After:  0

In [15]:
#### Checking null values

df.isnull().sum() / len(df) * 100

Invoice        0.0
StockCode      0.0
Description    0.0
Quantity       0.0
InvoiceDate    0.0
Price          0.0
Customer ID    0.0
Country        0.0
dtype: float64

In [16]:
# Sample existing customer data
customer_data = pd.DataFrame({
    'CustomerID': df['Customer ID'].astype(str).unique()
})

# States distribution
states = ['England', 'Scotland', 'Wales', 'Northern Ireland']
state_probs = [0.84, 0.08, 0.05, 0.03]

# Age distribution
age_mean = 40
age_std = 15
age_min = 18
age_max = 70

# Gender distribution
genders = ['Male', 'Female', 'Other']
gender_probs = [0.49, 0.49, 0.02]

# Generating synthetic data
np.random.seed(42)  # For reproducibility

customer_data['State'] = np.random.choice(states, size=len(customer_data), p=state_probs)
customer_data['Age'] = np.clip(np.random.normal(age_mean, age_std, len(customer_data)).astype(int), age_min, age_max)
customer_data['Gender'] = np.random.choice(genders, size=len(customer_data), p=gender_probs)
customer_data['Country'] = 'United Kingdom'

# Displaying the synthetic data
customer_data.head()

  CustomerID    State  Age  Gender         Country
0      13085  England   54    Male  United Kingdom
1      13078    Wales   40  Female  United Kingdom
2      15362  England   46  Female  United Kingdom
3      18102  England   33  Female  United Kingdom
4      18087  England   34  Female  United Kingdom

#### States Distribution:
1. Assigns states based on a realistic probability distribution of the UK population.

#### Age Distribution:
1. Generates ages using a normal distribution and clips values to stay within a realistic range.

#### Gender Distribution:
1. Assigns genders based on realistic proportions.

In [17]:
#### save the data
customer_data.to_csv('CustomerData.csv', index=False)
df.to_csv(r'OnlineRetail.csv', index=False)

print("No of Customers: ", len(customer_data))
print("No of rows: ", len(df))

No of Customers:  8762
No of rows:  942334